# AI / Gemini API
GEMINI_API_KEY=AIzaSyDX1kjJLiOlP0LDJD8EZrK1pqI3KLuX5KM

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://fsargcmdolzstuspbzni.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZzYXJnY21kb2x6c3R1c3Biem5pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1ODM0MTQsImV4cCI6MjA4ODE1OTQxNH0.EMEixgm0lyLT87HLvj275mdGHiE3oBYJF7Vp_86PZgU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZzYXJnY21kb2x6c3R1c3Biem5pIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjU4MzQxNCwiZXhwIjoyMDg4MTU5NDE0fQ.UuKOOMW_1oGEianqzLPlRkJnZ_QPOHVMBXXKa9jzmmE
